/* Project colors */
$dark-blue: #2050e4;
$dark-gray: #303030;
$light-gray: #e3e4e8;
$gray: #8a91a1;
$regular-white: #f2f7fa;
$white: #ffffff;
$red: #c62828;
$pink: #fff0f0;
$green: #2e7d32;
$light-green: #e8f5e8;

/* Default */
$primary: $dark-blue;
$secondary: $dark-gray;
$accent: $light-gray;
