@use '@/app/styles/varibles.scss' as *;

.table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $light-gray;
  background-color: white;

  &__no-data {
    padding: 40px;
    text-align: center;
    color: $dark-gray;
    font-size: 16px;

    @media (max-width: 600px) {
      padding: 30px;
      font-size: 14px;
    }

    @media (max-width: 400px) {
      padding: 20px;
      font-size: 12px;
    }
  }

  &__wrapper {
    max-width: 100%;
  }

  &__scroll {
    max-height: 461px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-gray;
      border-radius: 4px;
    }
  }

  &__body {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .fullscreen {
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    &__image {
      max-height: 90%;
      object-fit: contain;
      border-radius: 12px;
    }
  }
}
