@use '@/app/styles/varibles.scss' as *;

.auth {
  &__layout {
    display: grid;
    place-items: center;
    width: 100%;
  }

  &__card {
    width: 100%;
    max-width: 520px;
    background: $white;
    border: 1px solid $light-gray;
    border-radius: 20px;
    padding: 48px 44px 62px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    position: relative;

    &-remember {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      gap: 10px;
      color: $gray;
      font-size: 13px;
      margin-top: 6px;

      input {
        width: 16px;
        height: 16px;
      }
    }

    &-header {
      &__title {
        font-size: 28px;
        font-weight: 600;
        color: $dark-gray;
        margin-bottom: 20px;
      }

      &__subtitle {
        font-size: 14px;
        color: $gray;
        margin-top: -10px;
        margin-bottom: 8px;
      }
    }

    &-error {
      font-size: 12px;
      color: $red;
    }

    @media (max-width: 600px) {
      padding: 32px 24px 40px;

      &-header {
        &__title {
          font-size: 24px;
        }

        &__subtitle {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 400px) {
      padding: 24px 16px 32px;

      &-header {
        &__title {
          font-size: 20px;
        }

        &__subtitle {
          font-size: 12px;
        }
      }
    }
  }
}
