@use '@/app/styles/varibles.scss' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // логотип сверху, логаут снизу
  align-items: center;
  height: 100%;
  margin-right: 25px;

  &__logo {
    font-size: 35px;
    font-weight: 350;
    text-transform: uppercase;
    margin-bottom: 45px;

    &-title {
      color: $dark-gray;
    }
  }

  &__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &-text {
      text-transform: capitalize;
      font-size: 12px;

      @media (max-width: 600px) {
        display: none; // скрываем текст под иконками
      }
    }
  }

  &__logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  /* --- адаптив --- */
  @media (max-width: 600px) {
    flex-direction: row; // всё в строку
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto; // убираем фиксированную высоту
    width: 100%; // растягиваем на всю ширину
    margin-right: 0;
    padding: 10px 0;

    &__logo {
      margin-bottom: 0;
      font-size: 20px;
    }

    &__navigation {
      flex: none;
      flex-direction: row; // иконки навигации в ряд
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    &__logout {
      flex-direction: row; // logout тоже в ряд
      gap: 15px;
    }
  }
}
